# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/


# Docker files
*.log
*.bak


# Virtual environments
venv/
env/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# IDE or Editor folders
.vscode/
.idea/

# Logs and databases
*.log
*.db
*.sqlite
